@model IEnumerable<CalculoParaAcoes.Models.Zscore>

@{
    ViewData["Title"] = "Lista";
}

<h2>Lista</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Novo Cálculo</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.DataCriado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDaAcao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorZscore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbaixoValorAtual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoAtual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcimaValorAtual)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.DataCriado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDaAcao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorZscore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbaixoValorAtual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoAtual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcimaValorAtual)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
