@model IEnumerable<CalculoParaAcoes.Models.DesvioPadrao>

@{
    ViewData["Title"] = "Lista";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Novo Cálculo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataCriado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDaAcao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechamentoAtual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abertura1Antes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesvPadrao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desvio1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desvio2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desvio1n)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desvio2n)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCriado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeDaAcao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechamentoAtual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abertura1Antes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DesvPadrao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desvio1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desvio2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desvio1n)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desvio2n)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
